.button {
  background: hsla(58, 100%, 75%, 0.3);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 18px;
  margin: 2px;
  padding: 1rem 2.5rem;
}
